{{- $dest := .Destination -}}
{{- $url := urls.Parse $dest -}}

{{- if and $dest (hasPrefix $dest "/") -}}
  {{- with or (.PageInner.GetPage $url.Path) (.PageInner.Resources.Get $url.Path) (resources.Get $url.Path) -}}
    {{- $query := cond $url.RawQuery (printf "?%s" $url.RawQuery) "" -}}
    {{- $fragment := cond $url.Fragment (printf "#%s" $url.Fragment) "" -}}
    {{- $dest = printf "%s%s%s" .RelPermalink $query $fragment -}}
  {{- else -}}
    {{- $hasBasePrefix := and (ne site.Home.RelPermalink "/") (hasPrefix $dest site.Home.RelPermalink) -}}
    {{- if not $hasBasePrefix -}}
      {{- $dest = (relURL (strings.TrimPrefix "/" $dest)) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- with . -}}
{{- $isExternal := or (strings.HasPrefix .Destination "http://") (strings.HasPrefix .Destination "https://") -}}
{{- $extension := strings.ToLower (path.Ext $url.Path) -}}
{{- $downloadExtensions := slice ".hwp" ".hwpx" ".pdf" ".odt" ".doc" ".docx" ".ppt" ".pptx" ".xls" ".xlsx" ".zip" ".7z" ".rar" -}}
{{- $isOrgAsset := strings.HasPrefix $url.Path "/org-assets/" -}}
{{- $isDownload := and (not $isExternal) (or $isOrgAsset (in $downloadExtensions $extension)) -}}
<a href="{{ $dest | safeURL }}"
   {{- with .Title -}} title="{{ . }}"{{- end -}}
   {{- if $isExternal -}} target="_blank" rel="noopener noreferrer"{{- end -}}
   {{- if $isDownload -}} download{{- end -}}
>
  {{- .Text | safeHTML -}}
  {{- if and .Page.Site.Params.externalLinkDecoration $isExternal -}}
    {{- partial "utils/icon.html" (dict "name" "arrow-up-right" "attributes" `class="hx:inline hx:rtl:rotate-270 hx:align-baseline" height="1em" aria-hidden="true"`) -}}
  {{- end -}}
</a>
{{- end -}}
